html{scroll-behavior: smooth;}
body{font-family: 'Lato', sans-serif;overflow-x: hidden; font-size: 14px;}
.navbar{background: #4d6e90 !important; }
.navbar-dark .navbar-nav .nav-link{color: #e8e7e7 !important;}
#footer{background:#4d6e90 !important; color: #efefef; }
#banner{background-image: url('../images/banner.jpg');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;height: 91.5vh;}
.reg_card{background-color: #fbf8f8;}
.spc_row{padding-top: 1%;}
.reg_card{padding: 5%;margin-top: 8%;}
.form-element{width:100%;padding:12px 20px;margin:8px 0;display:inline-block;box-sizing:border-box;background-color:transparent;color:#080508;border-bottom: 1px solid #dddddd;border-top:none;border-right:none;border-left:none;border-radius:0;}
.form-element:focus{border-color:#1773BF;outline:0!important}
.gender{padding-top: 4%;}
.reg{font-size: 18px;}
.free{font-size: 20px; font-weight: bold;padding-left: 1%;}
.cmn_section{padding: 3%;}
.hdng{border-bottom: 1px solid #efefef;}
.home_search_div{background:#b3bdc7; padding: 3%; margin-top: 3%;margin-bottom: 3%;}
.cmn_btn{width: 100%;
    padding: 5%;}
.btn_l{width: 100%;
    padding: 3%;}
.cmn_a{color: #808080 !important;}
.cmn_a:hover{text-decoration: none; color: #4d6e90 !important;}
.spc{margin-bottom: 8%;margin-top: 3%;}
.f_y_s{background: #cccccc;}
.row_cmn{margin-bottom: 2%;}
    .cta-100 {


margin-top: 50px;
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #708198 !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 100px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 18px;
  height: 0px;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}




.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 20px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}

#search_partner{background: #efefef;}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#back2Top {width: 40px;line-height: 40px;overflow: hidden;z-index: 999;display: none;cursor: pointer;-moz-transform: rotate(270deg);-webkit-transform: rotate(270deg);-o-transform: rotate(270deg);-ms-transform: rotate(270deg);transform: rotate(270deg);position: fixed;bottom: 50px;right: 0;color:#4d6e90;text-align: center;font-size: 30px;text-decoration: none;}
#back2Top:hover {background-color: transparent;color: #000000;opacity: 0.7;}
.about_us{    background: url(../images/abt.jpg) no-repeat;
    background-position: bottom center;
    padding: 40px 60px; min-height:84.5vh; }
.cmn_p{line-height: 30px;}
.login{background: url(../images/login-bg.jpg) ;
    background-position: bottom center;
    padding: 40px 60px; min-height:84.5vh; }
.login_div{background: #ffffff;    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    width: 600px;
    margin: auto; padding: 4%;}
#get_started{background: #5a1a1a; color: #efefef;padding: 2%;}
.first_block{background: #fff;padding: 20px;}
.search_pf{padding: 40px 60px; min-height:84.5vh; background: #efefef;}
.t_p{color: #4d6e90;}
.p_d{color: #808080;letter-spacing: 2px;}
.btn_intrst{background: #4d6e90; color: #efefef;}
.btn_intrst:hover{color: #efefef !important;}
.second_block{
    background: #fff;
    padding: 15px;
    margin: 15px 0;}
.para{color: #808080;line-height: 30px;}
.third_block{background: #fff;padding: 2%;}
.other_profiles{margin-top: 25%;}
.p_o{color: #808080;}
.card_package{background-color: #ffffff;}
.packages{background: #efefef;min-height:84.5vh;}
.card{margin-bottom: 10%;}
.card-body-pakages{min-height: 35vh;}